/.settings/
/.externalToolBuilders/
/.metadata/
/.settings/
/Documentation/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
/Release/
support/RoboPro/TxtSliSDlogger.141.rpp
